.page {
  min-height: 100vh;
  background-color: #f3f3f3;
  padding: 32px 40px;
  box-sizing: border-box;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 20px 16px;
  }
}
